---
layout: default
title: My Blog
pagination:
  data: collections.publishedPosts
  size: 25
  alias: posts
---
<h1>My Blog</h1>
<div class="max-w-3xl">
  {% for post in posts %}
    <article class="mb-4">
    <h2><a href="{{ post.url | ts }}">{{ post.data.title }}</a></h2>
    {% excerpt post %}
    </article>
  {% endfor %}

{% if pagination.previousPageHref or pagination.nextPageHref %}
  <div class="flex mt-10  mx-auto">
    {% if pagination.nextPageHref %}
    <a class="flex-auto text-left" href="{{pagination.nextPageHref | ts}}">← Older Posts</a>
    {% endif %}
    {% if pagination.previousPageHref %}
    <a class="flex-auto text-right" href="{{pagination.previousPageHref | ts}}">Newer Posts →</a>
    {% endif %}
  </div>
{% endif %}
</div>
