---
layout: default
featuredImage: /assets/images/origin.png
title: Scott Watermasysk
---

<h2>What the What?</h2>
<div class="flex flex-col sm:flex-row">
  <div id="glamour-shot" class="flex-shrink-0 h-48 w-48 mb-2 sm:mb-0">
    <img class="h-full w-full object-cover rounded-lg shadow-md" src="/assets/images/me.jpg" width="512" height="512" />
  </div>
  <div id="intro" class="sm:ml-4 flex-shrink">
    {{ home.intro | md | safe}}
  </div>
</div>
{{ home.projects | md | safe}}
{{ home.about | md | safe}}
