---
layout: default
featuredImage: /assets/images/origin.png
title: Scott Watermasysk
---

<h2>What the What?</h2>
<div class="flex flex-col sm:flex-row">
  <div id="glamour-shot" class="flex-shrink-0 h-48 w-48 mb-2 sm:mb-0">
    <img class="h-full w-full object-cover rounded-lg shadow-md" src="/assets/images/me.jpg" alt="Scott Watermasysk, looking rad" width="512" height="512" />
  </div>
  <div id="intro" class="sm:ml-4 flex-shrink">
    {{ home.intro | md | safe}}
  </div>
</div>
<h2>Projects</h2>
<p>
  <a href="https://kickofflabs.com" aria-label="Read more about KickoffLabs">KickoffLabs</a> -
 I guess a <em>project</em> is a stretch since this is also my livelihood. 😀 KickoffLabs is a platform for <strong>growing your business with viral marketing contests</strong>. I have been working on it for about eight years (March 2011), and it is still going strong.
</p>

<p>
  <a href="https://bootstrapweekly.com" aria-label="Read more about Bootstrap Weekly">Bootstrap Weekly</a> -
 This is a weekly newsletter for bootstrappers that has been on hiatus for a couple of years. I have a new direction for it and you should see it pick back up in 2020.
</p>

<p>
  <a href="https://howivscode.com" aria-label="Read more about How I VSCode">How I VSCode</a> -
 A simple way to share how you are using VSCode.
</p>

<p>
  <a href="https://github.com/scottwater/eleventy-origin" aria-label="Read more about Eleventy Origin">Eleventy Origin</a> -
 I am a big fan of Eleventy (static site generator). It is the right mix of power and simplicity. Origin is my personal starter template.
</p>

<p>
  <a href="https://indietriage.com" aria-label="Read more about Indie Triage">Indie Triage</a> -
 Tries to help ensure all questions asked on sites like Indie Hackers get answered. (<em>Paused for now. APIs are not solid enough to build on yet</em>)
</p>

<p>
  <a href="https://github.com/scottwater/jekyll_rest" aria-label="Read more about Jekyll Rest">Jekyll Rest</a> -
 An API for Jekyll (<a href="/blog/jekyll-rest" aria-label="more details on Jekyll Rest">more details</a>). It should be usable across other platoforms as well...which I will verify soon for this site.
</p>

<p>
  <a href="https://github.com/scottwater/shorti" aria-label="Read more about Shorti">Shorti</a> -
 Simple API only URL Shortener (<a href="/blog/shorti" aria-label="read me about shorti">more about shorti</a>).
</p>

<p>
  <a href="https://njbootstrappers.com" aria-label="Read more about New Jersey Bootstrappers">New Jersey Bootstrappers</a> -
 Still in its infancy stage, I am hoping to grow & connect a community around small self-funded business ideas.
</p>
{{ home.about | md | safe}}
