---
layout: default
featuredImage: /assets/images/origin.png
title: Scott Watermasysk
keywords: Scott Watermasysk, ScottW, ScottWater
description: Scott Watermasysk on Business, Code, Family, and Life.
---

<h1 class="text-2xl">Welcome!!!</h1>
<div class="flex flex-col pt-4 sm:flex-row">
  <div id="glamour-shot" class="flex-shrink-0 w-full h-full mb-2 sm:w-56 sm:h-56 sm:mb-0">
    <img class="object-cover w-full h-full" src="/assets/images/me_details.png" alt="Scott Watermasysk, looking rad" width="512" height="512" />
  </div>
  <div id="intro" class="flex-shrink sm:ml-4">
    {{ home.intro | md | safe}}
  </div>
</div>
<h2>Projects</h2>
<p>
  <a href="https://kickofflabs.com" aria-label="Read more about KickoffLabs">KickoffLabs</a> -
 I guess a <em>project</em> is a stretch since this is also my livelihood. 😀 KickoffLabs is a platform for <strong>growing your business with viral marketing contests</strong>. I have been working on it for about 11 years (March 2011), and it is still going strong.
</p>

<p>
  <a href="https://thocstock.com" aria-label="The best in-stock mechanical keyboard products">ThocStock</a> -
  A tool to find the best in-stock custom mechanical keyboard products
</p>

<p>
  <a href="https://howivscode.com" aria-label="Read more about How I VSCode">How I VSCode"</a> -
 A simple way to share how you are using VSCode.
</p>

<p>
  <a href="https://howivscode.com" aria-label="Scott Watermasys's hopefully daily blog">My Blog</a> -
 Short posts (hopefully a couple of times a week or more) of what I am learning and finding interesting. 
</p>

{{ home.about | md | safe}}
