<link rel="apple-touch-icon" href="/assets/images/favicons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-196x196.png" sizes="196x196" />
<meta name="application-name" content="{{site.name}}"/>
<meta name="msapplication-TileColor" content="#3B4252" />
<meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/assets/images/favicons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/assets/images/favicons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/assets/images/favicons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/assets/images/favicons/mstile-310x310.png" />
