<header class="text-center bg-gray-800 border-b-4 border-gray-600 text-white">
  <div class="max-w-4xl mx-4 sm:mx-auto py-4">
    <a href="/" class="text-xl sm:text-6xl">{{site.title}}</a>
    <span class="block text-base sm:text-3xl">Husband, Father, Bootstrapper, Developer, Builder, Shipper.</span>
  </div>

      <div class="bg-gray-800 border-gray-500">
        <nav class="flex justify-around max-w-3xl mx-4 sm:mx-auto pb-1">
          <a class="block w-32 hover:bg-gray-600 p-2 rounded-lg font-medium" href="/blog">Blog</a>
          <a class="block w-32 hover:bg-gray-600 p-2 rounded-lg font-medium" href="/links">Links</a>
          <a class="block w-32 hover:bg-gray-600 p-2 rounded-lg font-medium" href="/now">Now</a>
        </nav>
      </div>
</header>
