<header class="text-center text-white border-b-2 bg-polar-night-darkest border-polar-night-darker">
  <div class="max-w-4xl py-4 mx-4 sm:mx-auto">
    <a aria-label="Go back to the home page" href="/" class="text-xl font-semibold sm:text-2xl md:text-4xl">{{site.title}}</a>
    <span class="block text-base sm:text-xl md:text-2xl">{{site.description}}</span>
  </div>
  <nav class="flex justify-around max-w-3xl pb-1 mx-4 font-medium sm:mx-auto">
    <a aria-label="Check out my blog" class="{% navCssClasses '/articles', page %}" href="/articles/">Articles</a>
    <a aria-label="All about keyboards" class="{% navCssClasses '/keyboards', page %}" href="/keyboards/">Keyboards</a>
  </nav>
</header>
