<header class="text-center bg-gray-400 border-b border-gray-500">
  <div class="max-w-3xl mx-4 sm:mx-auto py-4">
    <a href="/" class="text-3xl">{{site.title}}</a>
    <span class="block">Husband, Father, Bootstrapper, Developer, Builder, Shipper.</span>
  </div>

      <div class="mt-2 border-t bg-gray-300 border-gray-500 pt-2">
        <nav class="flex justify-around max-w-3xl mx-4 sm:mx-auto py-1">
          <a href="/blog">Blog</a>
          <a href="/links">Links</a>
          <a href="/now">Now</a>
        </nav>
      </div>
</header>
