<!doctype html>
<html lang="en-US">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="flex flex-col h-full min-h-screen text-lg font-sans text-polar-night-darkest leading-snug antialiased bg-snow-storm-lightest">

    {% include "header.njk" %}
    <main class='flex-1 max-w-3xl mx-4 md:mx-auto mt-4'>
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>
