<!doctype html>
<html lang="en-US">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="flex flex-col h-full min-h-screen font-sans text-lg antialiased leading-snug text-polar-night-darkest bg-snow-storm-lightest">

    {% include "header.njk" %}
    <main class='flex-1 max-w-3xl mx-4 mt-4 lg:mx-auto'>
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>
