---
layout: default
---
{%- if draft %}
<h1 class="text-aurora-red">DRAFT POST! POST DRAFT!</h1>
{% endif %}
<h1>{{ title }}</h1>
{% if image %}
<p class="pt-2">
  <img class="block" src="{{image}}" alt="{{image_alt}}" />
  {% if image_credit %}
  <span class="text-base text-gray-500">Photo Credit: {{image_credit}}</span>
  {% endif %}
</p>
{% endif %}
{{ content | safe }}
{% if images %}
<div class="flex flex-wrap">
{% for img in images %}
  <div class="w-full">
  <div class="h-full px-4 pt-3 mx-4 mt-2 overflow-hidden rounded shadow-lg">
  <img src="/assets/images/gordons/{{page.fileSlug}}/{{img.img}}" alt="{{img.at}}" />
    {% if img.desc %}
  <p class="mt-4">{{img.desc}}</p>
  {% endif %}
  </div>

  </div>
{% endfor %}
</div>
{% else %}
  <h3>No Image Data available</h3>
{% endif %}
