---
layout: default
---
<h1 class="text-2xl">{{ title }}</h1>
<p>
  <time datetime='{{page.date | rssDate}}' itemprop='datePublished'>{{page.date.toLocaleDateString("en-US", { month: 'short', day: 'numeric', year: 'numeric' })}}</time>
</p>
{{ content | safe }}
{% if source_url %}
<p>source: <a href="{{source_url}}">{{source_url}}</a></p>
{% endif %}
